<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a message</title>
    <link rel="stylesheet" href="/stylesheets/form.css">
</head>
<body>
    <form action="" method="post">
        <h2>Add Message</h2>
        <label for="title">
            <input type="text" id="title" name="title" placeholder="Title">
        </label>
        <label for="content">
            <input type="text" id="content" name="content" placeholder="content">
        </label>
        <%=error%>
        <button type="submit">Submit</button>
    </form>
</body>
</html>