<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <title>Sign-Up</title>
</head>
<body>
    <form action="" method="post">
        <h2>Sign Up for Our awesome Page</h2>

            <input type="text" name="first_name" id="first_name" placeholder="First name">

            <input type="text" name="last_name" id="last_name" placeholder="Last name">

            <input type="text" name="username" id="username" placeholder="Username">

            <input type="password" name="password" id="password" placeholder="Password">

            <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm password">
   
            <button type="submit">Become a new User!</button>
            <p class="danger"><%=error%></p>
    </form>
</body>
</html>