<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <title>Upgrade Status</title>
</head>
<body>
    <form action="" method="post">
        <h2>Enter a secret code in order to reach a higher level</h2>
        <input type="text" id="code" name="code" placeholder="Code">
        <%=error%>
        <button type="submit">Become a membership</button>
    </form>
</body>
</html>